<header class="index">
  <% if current_user && current_user.admin? == true %>
    <%= link_to new_post_path do %>
    <div class="logo">
      <%= image_tag "pink-circle.svg", class: "pink-circle" %>
      <h1>fonts in the wild.</h1>
    </div>
    <% end %>
  <% else %>
      <%= link_to root_path do %>
      <div class="logo">
        <%= image_tag "pink-circle.svg", class: "pink-circle" %>
        <h1>fonts in the wild.</h1>
      </div>
    <% end %>
  <% end %>

<div class="search-index">
  <div class="nav-menu">
      <div class="dropdown show drop-recent dropHide" id="myDropdown">
        <a class="btn btn-secondary dropdown-toggle shadow-none" href="/posts" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          vibes <i class="fas fa-chevron-down animate__animated" id="carrot"></i>
         <span></span>
         <%= image_tag "pink-square.svg", class: "nav-svg nav-svg0" %>
        </a>
        <div class="dropdown-menu tag-new" aria-labelledby="dropdownMenuLink">
          <%= simple_form_for :search, url: posts_path, method: "GET", remote: true do |f| %>
              <%= f.input :tag, collection: $tags, as: :check_boxes,
              item_wrapper_class: 'dropdown-item dropped' %>
          <% end %>
        </div>
      </div>
      <div class="nav-svg-wrapper">
        <%= link_to "free fonts", free_path, class: 'dropHide' %>
      <%= image_tag "blue-triangle.svg", class: "nav-svg nav-svg2" %>
      </div>
      <div class="nav-svg-wrapper">
        <%= link_to "google fonts", google_path, class: 'dropHide' %>
        <%= image_tag "pink-circle-sm.svg", class: "nav-svg nav-svg3" %>
      </div>
      <div class="nav-svg-wrapper">
        <%= link_to "squarespace", squarespace_path, class: 'free dropHide' %>
        <%= image_tag "blue-square.svg", class: "nav-svg nav-svg4" %>
      </div>
      <a class="" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
        <%= image_tag "search-black.svg", class: "black-search" %>
      </a>
  </div>

  <div class="toggle-forms">
    <div class="icons">
      <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <%= image_tag "search-black.svg", class: "black-search blacklg" %>
      </a>
      <a class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
        <i class="fas fa-sliders-h settings"></i>
      </a>
    </div>
  </div>
</div>
</header>
<div class="form">
  <%= form_tag(posts_path, method: 'get', remote: true, class: "form-inline search2 collapse", id: "collapseExample3") do %>
  <div class="search3">
    <%= search_field_tag :q_search, nil, autocomplete: :off, class: " search-input1", placeholder: "Search for fonts" %>
    <%#= image_tag("search.svg") %>
  </div>
  <% end %>
</div>

<!--   <div class="toggle">
    <input type="checkbox" id="switch" name="theme" /><label for="switch"></label>
  </div> -->
  <div class="collapse drop-recent" id="collapseExample2">
    <div class="toggles">
      <div class="dropdown show drop-recent" id="myDropdown">
        <a class="btn btn-secondary dropdown-toggle shadow-none" href="/posts" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          vibes <i class="fas fa-chevron-down animate__animated" id="carrot"></i>
         <span></span>
        </a>
        <div class="dropdown-menu tag-new" aria-labelledby="dropdownMenuLink">
          <%= simple_form_for :search, url: posts_path, method: "GET", remote: true do |f| %>
              <%= f.input :tag, collection: $tags, as: :check_boxes,
              item_wrapper_class: 'dropdown-item dropped' %>
          <% end %>
        </div>
      </div>
      <%= link_to "free", free_path, class: '' %>
      <%= link_to "google", google_path, class: '' %>
      <%= link_to "squarespace", squarespace_path, class: 'free' %>
    </div>
  </div>
<div class="search-toggle">
  <%= form_tag(posts_path, method: 'get', remote: true, class: "form-inline collapse", id: "collapseExample") do %>
    <div class="search">
      <%= search_field_tag :q_search, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search for fonts" %>
      <%= image_tag("search.svg") %>
    </div>
  <% end %>
</div>
