<header class="index">
  <%= link_to new_post_path do %>
    <%= image_tag "logoxxxs.svg", class: "logo-eye" %>
  <% end %>

<div class="search-index">
  <div class="dropdown show drop-recent" id="myDropdown">
    <a class="btn btn-secondary dropdown-toggle shadow-none" href="/posts" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Vibes <i class="fas fa-chevron-down animate__animated" id="carrot"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <!-- <a class="dropdown-item" href="#">Trending</a>
      <a class="dropdown-item" href="#">Random</a> -->


      <%= simple_form_for :search, url: posts_path, method: "GET", remote: true do |f| %>
          <%= f.input :tag, collection: $tags, as: :check_boxes,
          item_wrapper_class: 'dropdown-item dropped' %>
      <% end %>


    </div>
  </div>
  <%= link_to "Google Fonts", google_path, class: '' %>
  <%= link_to "Squarespace", squarespace_path, class: '' %>
  <%= link_to "Free fonts", free_path, class: 'free' %>
  <%= form_tag(posts_path, method: 'get', remote: true, class: "form-inline") do %>
  <div class="search">
    <%= search_field_tag :q_search, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search for fonts" %>
    <%= image_tag("search.svg") %>
  </div>
  <% end %>
  <%= image_tag("moon1.svg", class: "moon") %>
</div>

</header>
