<header class="index">
  <%= link_to new_post_path do %>
    <%= image_tag "logoxxxs.svg", class: "logo-eye" %>
  <% end %>

  <div class="filters toggle">

  </div>
<div class="search-index">
    <%= link_to "Google Fonts", root_path, class: '' %>
    <%= link_to "Squarespace", root_path, class: '' %>
    <%= link_to "Free fonts", root_path, class: '' %>
  <%= form_tag(posts_path, method: 'get', remote: true, class: "form-inline") do %>
<!--   <div id= "search-data" class="form-search search-data" data-articles="<%= @posts.to_json %>"> -->
  <div class="search">
    <%= search_field_tag :q_search, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search for fonts" %>
    <%#= button_tag "Reset", type: :reset %>
    <%= image_tag("search.svg") %>
    <!-- <p class="x">x</p> -->

  </div>
<!--   </div> -->
  <% end %>
  <%= image_tag("moon1.svg") %>
</div>

</header>
