<div class="modal-body">
  <div class="modal-head">
    <div class="font-info">
      <% font_string = post.fonts.map(&:name).join ', '.titleize %>
      <h2><%= font_string.titleize %></h2>
      <% website = post&.website %>
      <% url = "https://#{post&.url}" %>
     <p><%= link_to website, url, target: "_blank", class: "post-website" %></p>
    </div>
    <div class="download-links">
      <% post.fonts.each do |font| %>
        <div class="download">
          <% if font.source %>
            <%= link_to "download #{font.name}", "https://#{font&.source}", target: "_blank"%>
          <% else %>
            <%= link_to "download #{font.name}", "https://www.google.com", target: "_blank"%>
          <% end %>
          <% if font.designer %>
            <p><%= font&.designer %></p>
          <% end %>
          </div>
      <% end %>
    </div>
</div>


<div class="font-img">
  <%= cl_image_tag post.photo&.key %>
</div>

  <% if post.find_related_tags.any? %>
   <h3>You might also like</h3>
    <% post.find_related_tags.each do |post| %>
    <div class="grid-item"><%= cl_image_tag post.photo.key %>
    </div>
      <%#= post.website %>
    <% end %>
  <% end %>
</div>
