<div class="modal-body">
  <div class="modal-head">
    <div class="font-info">
      <% font_string = post.fonts.map(&:name).join ', '.titleize %>
      <h2><%= font_string.titleize %></h2>
      <p><%= post&.website %></p>
    </div>
    <div class="download-links">
      <% post.fonts.each do |font| %>
        <div class="download">
          <%= link_to "download #{font.name}", "https://#{font&.source}", target: "_blank"%>
          <% if font.designer %>
            <p><%= font&.designer %></p>
          <% end %>
          </div>
      <% end %>
    </div>
</div>


<div class="font-img">
  <%= cl_image_tag post.photo&.key %>
</div>



  <% if related_posts.present? %>
   <h3>Related Posts</h3>
    <% related_posts.each do |post| %>
      <%= post.website %>
    <% end %>
    <% post.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag) %>
    <% end %>
  <% end %>
</div>
