<% if @pg_results %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <% @pg_results.each do |result| %>
    <% if result.searchable_type == 'Font' %>
        <% font = result.searchable %>
        <% font.posts.each do |post| %>
          <% if post.photo.attached? %>
            <%= link_to show_modal_path(id: post.id), remote: true do %>
              <div class="grid-item"><%= cl_image_tag post.photo.key %>
<!--                 <div class="website-text">
                  <h2><%#= post&.website %></h2>
               </div> -->
                <% font = post.fonts.map(&:name).join ', '.titleize %>
                <p><%= font.titleize %></p>
                <p class="post-website"><%=post&.website.titleize%></p>
                <% end %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
  <% posts.each do |post| %>
<div class="modal fade bd-example-modal-lgs" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modal_content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <% if post.photo.attached? %>
      <%= link_to show_modal_path(id: post.id), remote: true do %>
          <div class="grid-item"><%= cl_image_tag post.photo.key %>
            <% end %>
            <% if post.fonts.present? %>
              <% font = post.fonts.map(&:name).join ', '.titleize %>
              <div class="website-info">
                <p><%= font.titleize %></p>
                <% url = post.url %>
                <% website = post&.website.titleize %>
                <%= link_to website, url, target: "_blank", class: "post-website" %>
                <!-- <a target="_blank" href="#{post&.url}" class="post-website"><%#= post&.website.titleize%></a> -->
              </div>
            <% end %>
          </div>
        <% end %>

  <% end %>
<% end %>
