<div class="modal-body">
  <div class="modal-head">
    <div class="font-info">
      <% font_string = post.fonts.map(&:name).join ', '.titleize %>
      <h2><%= font_string.titleize %></h2>
      <% website = post&.website %>
      <% url = "https://#{post&.url}" %>
     <p><%= link_to website, url, target: "_blank", class: "post-website post-website-modal" %></p>
    </div>
    <div class="download-links">
      <% post.fonts.each do |font| %>
        <div class="download">
          <% if font.source %>
            <%= link_to "download #{font.name}", "https://#{font&.source}", target: "_blank"%>
          <% else %>
            <%= link_to "download #{font.name}", "https://www.google.com", target: "_blank"%>
          <% end %>
          <% if font.free_commercial == true %>
            <span>(free)</span>
          <% else %>
            <span>(paid)</span>
          <% end %>
          <% if font.designer %>
            <p><%= font&.designer %></p>
          <% end %>
          </div>
      <% end %>
    </div>
</div>


<div class="font-img">
  <%= cl_image_tag post.photo&.key %>
</div>

<div class="related-posts">
  <% if post.find_related_tags.any? %>
   <h3>You might also like</h3>
   <div class="modal-img-grid grid2" id="posts">
    <div class="grid-sizer2"></div>
    <% post.find_related_tags.each do |post| %>
      <% if post.photo.attached? %>
      <div class="grid-item2">
        <%= link_to show_modal_path(id: post.id), remote: true do %>
          <%= cl_image_tag post.photo.key, class: "modal-img" %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
</div>
