<header class="index">
  <%= link_to new_post_path do %>
    <%= image_tag "logoxxxs.svg", class: "logo-eye" %>
  <% end %>

  <div class="filters toggle">

  </div>
<div class="search-index">
    <%#= link_to "All Fonts", root_path, class: '' %>
    <%= link_to "Google Fonts", google_path, class: '' %>
    <%= link_to "Squarespace", squarespace_path, class: '' %>
    <div class="free-squig">
      <%= link_to "Free fonts", free_path, class: 'free free-page' %>
      <%= image_tag("squig.svg", class:'animate__animated animate__fadeIn') %>
    </div>
  <%= form_tag(posts_path, method: 'get', remote: true, class: "form-inline") do %>
<!--   <div id= "search-data" class="form-search search-data" data-articles="<%= @posts.to_json %>"> -->
  <div class="search">
    <%= search_field_tag :q_search, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search for fonts" %>
    <%#= button_tag "Reset", type: :reset %>
    <%= image_tag("search.svg") %>
    <!-- <p class="x">x</p> -->

  </div>
<!--   </div> -->
  <% end %>
  <%= image_tag("moon1.svg") %>
</div>

</header>

<section class="content">
<!--   <div class="filters recent"> -->
<!--     <div class="dropdown show drop-recent">
      <a class="btn btn-secondary dropdown-toggle shadow-none" href="/posts" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       ✨ Most recent
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Trending</a>
        <a class="dropdown-item" href="#">Random</a>
      </div>
    </div> -->

<!--     <div class="tag"> -->
      <%#= link_to "All", posts_path %>
      <%#= simple_form_for :search, url: free_path, method: "GET", remote: true do |f| %>
<!--         <div class="inputs form-check form-check-inline"> -->
          <%#= f.input :tag, collection: $tags, as: :check_boxes,
          item_wrapper_class: 'checkbox_container' %>
<!--         </div> -->
      <%# end %>
<!--     </div> -->
<!--   </div>
 -->
  <% if @posts %>
  <div class="grid" id="posts">
    <div class="grid-sizer"></div>
      <% if @pg_results %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <% @pg_results.each do |result| %>
    <% if result.searchable_type == 'Font' %>
        <% font = result.searchable %>
        <% font.posts.each do |post| %>
          <% if post.photo.attached? %>
            <%= link_to show_modal_path(id: post.id), remote: true do %>
              <div class="grid-item"><%= cl_image_tag post.photo.key %>
                <div class="website-text">
                  <h2><%= post&.website %></h2>
               </div>
                <% font =  post.fonts.map(&:name).join ', '.titleize %>
                <p><%= font.titleize %></p>
                <% end %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
  <% @posts.uniq.each do |post| %>
<div class="modal fade bd-example-modal-lgs" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modal_content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <% if post.photo.attached? %>
      <%= link_to show_modal_path(id: post.id), remote: true do %>
          <div class="grid-item"><%= cl_image_tag post.photo.key %>
            <% if post.website.present? %>
              <h2 class="website-text"><%= post&.website %></h2>
            <% end %>
            <% if post.fonts.present? %>
              <% font =  post.fonts.map(&:name).join ', '.titleize %>
              <p><%= font.titleize %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
  <% end %>
<% end %>
  </div>
  <% end %>
</section>

<%= pagy_bootstrap_nav(@pagy).html_safe %>
