<%# content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @offer.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>
<header class="index">
  <% if current_user.admin? == true %>
  <%= link_to new_post_path do %>
    <%= image_tag "logoxxxs.svg", class: "logo-eye" %>
  <% end %>
  <% else %>
    <%= link_to root_path do %>
    <%= image_tag "logoxxxs.svg", class: "logo-eye" %>
  <% end %>
  <% end %>

<div class="search-index">
  <div class="nav-menu">
      <div class="dropdown show drop-recent dropHide" id="myDropdown">
        <a class="btn btn-secondary dropdown-toggle shadow-none" href="/posts" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Vibes <i class="fas fa-chevron-down animate__animated" id="carrot"></i>
         <span></span>
        </a>
        <div class="dropdown-menu tag-new" aria-labelledby="dropdownMenuLink">
          <%= simple_form_for :search, url: posts_path, method: "GET", remote: true do |f| %>
              <%= f.input :tag, collection: $tags, as: :check_boxes,
              item_wrapper_class: 'dropdown-item dropped' %>
          <% end %>
        </div>
      </div>
      <%= link_to "Google Fonts", google_path, class: 'dropHide' %>
      <%= link_to "Squarespace", squarespace_path, class: 'dropHide free-page' %>
      <%= link_to "Free fonts", free_path, class: 'free dropHide' %>
  </div>
  <%= form_tag(posts_path, method: 'get', remote: true, class: "form-inline search2", id: "") do %>
  <div class="search">
    <%= search_field_tag :q_search, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search for fonts" %>
    <%= image_tag("search.svg") %>
  </div>
  <% end %>
  <div class="toggle-forms">
    <div class="icons">
      <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <%= image_tag("search.svg", class: "search-icon") %>
      </a>
      <a class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
        <i class="fas fa-sliders-h settings"></i>
      </a>
      <div class="toggle">
        <input type="checkbox" id="switch" name="theme" /><label for="switch"></label>
      </div>
    </div>
  </div>
</div>

</header>
  <div class="collapse drop-recent" id="collapseExample2">
    <div class="toggles">
      <div class="dropdown show drop-recent" id="myDropdown">
        <a class="btn btn-secondary dropdown-toggle shadow-none" href="/posts" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Vibes <i class="fas fa-chevron-down animate__animated" id="carrot"></i>
         <span></span>
        </a>
        <div class="dropdown-menu tag-new" aria-labelledby="dropdownMenuLink">
          <%= simple_form_for :search, url: posts_path, method: "GET", remote: true do |f| %>
              <%= f.input :tag, collection: $tags, as: :check_boxes,
              item_wrapper_class: 'dropdown-item dropped' %>
          <% end %>
        </div>
      </div>
      <%= link_to "Google", google_path, class: '' %>
      <%= link_to "Squarespace", squarespace_path, class: 'free-page' %>
      <%= link_to "Free", free_path, class: 'free' %>
    </div>
  </div>
<div class="search-toggle">
  <%= form_tag(posts_path, method: 'get', remote: true, class: "form-inline collapse", id: "collapseExample") do %>
    <div class="search">
      <%= search_field_tag :q_search, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search for fonts" %>
      <%= image_tag("search.svg") %>
    </div>
  <% end %>
</div>

<section class="content">
  <% if @posts %>
  <div class="grid" id="posts">
    <div class="grid-sizer"></div>
      <% if @pg_results %>
<div class="modal animate__animated animate__fadeIn bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg vertical-align-center" role="document">
      <div class="modal-content" id="modal_content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <% @pg_results.each do |result| %>
    <% if result.searchable_type == 'Font' %>
        <% font = result.searchable %>
        <% font.posts.each do |post| %>
          <% if post.photo.attached? %>
            <%= link_to show_modal_path(id: post.id), remote: true do %>
              <div class="grid-item"><%= cl_image_tag post.photo.key %>
                <% font =  post.fonts.map(&:name).join ', '.titleize %>
             <div class="website-info">
                <p><%= font.titleize %></p>
                <% url = post&.url %>
                <% website = post&.website.titleize %>
                <%= link_to website, url, target: "_blank", class: "post-website" %>
              </div>
                <% end %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
  <% @posts.uniq.each do |post| %>
<div class="modal animate__animated animate__fadeIn bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg vertical-align-center" role="document">
      <div class="modal-content" id="modal_content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
  </div>
</div>
    <% if post.photo.attached? %>
      <%= link_to show_modal_path(id: post.id), remote: true do %>
          <div class="grid-item"><%= cl_image_tag post.photo.key %>
            <% if post.fonts.present? %>
              <% font =  post.fonts.map(&:name).join ', '.titleize %>
              <div class="website-info">
                <p><%= font.titleize %></p>
                <% url = post&.url %>
                <% website = post&.website.titleize %>
                <%= link_to website, url, target: "_blank", class: "post-website" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
  <% end %>
<% end %>
  </div>
  <% end %>
</section>

<%= pagy_bootstrap_nav(@pagy).html_safe %>
